* {
    margin: 0;
    padding: 0
}

body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

h1 {
    margin: 10xp;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}

.divv {
    display: flex;
}

.block {
    margin: .5px;
    width: 75px;
    height: 75px;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

#toggle {
    margin: 10px 0px;
}

.allimg {
    width: 45px;
    position: relative;
    bottom: 5px;
}

.allpawn {
    transform: scale(.7);
}

.authcont {
    width: 100vw;
}

.author {
    float: right;
    margin-right: 50px;
}

@media (max-width:650px) {
    
    #toggle {
        margin-bottom: 70xp;
    }
    
    .block{
        width: 11vw;
        height: 11vw;
    }

    .allimg{
        width: 7vw;
    }
}